h1 {padding: 20px; margin: 30px;}
.main{ color: aqua; background-color: black; }

ul{display: flex;}
li {
    list-style: none; border: 1px solid #AAA; border-radius: 10px;
    width: 100px; height: 30px;
    padding: 20px;
    margin: 0 20px;
    text-align: center; line-height: 30px;
}